html {
	overflow-y: scroll;
}
html,body {
	margin:0;
	padding:0;
	background-color: black;

	font-family: 'PT Sans', sans-serif;
	color:#eee;
	font-size:14px;

	height: 100%;
}
a {
	color:#CC1559;
}
::-webkit-scrollbar-thumb:vertical { width:10px; height:10px; background-color: #666; }
::-webkit-scrollbar { width:10px; height:5px; background: #000; margin-right:5px; }
body {
	scrollbar-base-color: #000;
	scrollbar-base-color: #666;
	scrollbar-3dlight-color: #000;
	scrollbar-highlight-color: #000;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #666;
	scrollbar-shadow-color: #000;
	scrollbar-dark-shadow-color: #000;
}
#slides .page:nth-child(1) {
	z-index: 10;
}
#slides .page:nth-child(2) {
	z-index: 9;
}
#slides .page:nth-child(3) {
	z-index: 8;
}
#slides .page:nth-child(4) {
	z-index: 7;
}
#slides .page:nth-child(5) {
	z-index: 6;
}
#slides .page:nth-child(6) {
	z-index: 5;
}
#slides .page:nth-child(7) {
	z-index: 4;
}
.page {
	width: 100%;
	background-color: #000;
	position: absolute;
	height: 0;
	overflow: hidden;
	
	-webkit-transition: height 0.9s ease;
	-moz-transition: height 0.9s ease;
	-o-transition: height 0.9s ease;
	transition: height 0.9s ease;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.page.active {
	height: 100%;
}
.page .next {
	position: absolute;
	bottom:40px;
	height:60px;
	width: 100%;
	text-align: center;
}
.page .next a {
	color:inherit;
	font-size: 60px;
}
.page .next a:hover {
	color:gold;
}
.page.gold .next a:hover {
	color:black;
}
.page h1 {
	font-size:40px;
	font-weight: 700;
	text-align: center;
	color:inherit;

	height: 50px;
	position: relative;
	top: 45%;
	transform:translateY(-55%);

	margin:0 10%;
}
.page.white {
	background-color: #fff;
	color:#000;
}
.page.red {
	background-color: #CC1559;
	color:#fff;
}
.page.blue {
	background-color: royalblue;
	color:#fff;
}
.page.gold {
	background-color: gold;
	color:#000;
}
.page span.link {
	position: absolute;
	display: block;
	text-align: center;
	height: 15px;
	width: 100px;
	left:50%;
	margin-left:-50px;
	top: 5px;
	text-align: center;
	color:white;
	text-decoration: none;
	font-size:11px;
}
.page.gold .link {
	color:black;
}
#slides.last #p5 {
	overflow: visible;
}
#header {
	width:960px;
	margin:10px auto 30px;
	border-bottom: 1px solid #333;
}
h1 {
	font-family: 'Raleway', serif;
	font-size: 30px;
	font-weight:300;
	margin: 0 0 5px;
	
	padding: 0;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
}
#header h1 {
	font-weight:300;
}
h2 {
	font-family: 'Raleway', serif;
	font-size: 15px;
	font-weight:300;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
}
#headers {
	display:none;
	position: absolute;
	background-color: #000;
	top:215px;
	height:60px;
	width: 100%;
}
.fixed #headers {
	position: fixed;
	top:0px;
}
#headers ul {
	width: 910px;
	height:60px;
	padding: 0;
	list-style: none;
	margin: 0 auto;
}
#headers ul li {
	float: left;
	width:20%;
	text-align:center;
	text-transform: uppercase;
	color: #eee;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
#headers ul li span {
	font-size:14px;
	color:#ddd;
}
#headers ul li i {
	font-size:16px;
	color:#888;
}
#costs {
	width:100%;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}
svg {
		
}
svg rect,
svg line {
	shape-rendering: crispEdges;	
}
svg text {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
svg .symbol circle {
	fill:#000 !important;
	stroke:#777 !important;
	stroke-width:2 !important;
}
svg .symbol line.plus {
	stroke:#777;
	stroke-width:2;
}
svg .symbol line.minus {
	stroke:#777;
	stroke-width:2;
}
line.axis {
	fill:none;
	stroke:#333;
	stroke-width:1;
	shape-rendering: crispEdges;
}
path.avg {
	fill:none;
	stroke:#000;
	stroke-width:2;
	stroke-opacity:0.5;
}
g.cost circle {
	cursor: pointer;
}
g.cost circle,
g.cost rect {
	fill:#815d43;
	stroke:none;
	stroke-width:0;
	fill-opacity:0.7;

	-webkit-transition: fill-opacity 500ms ease;
	-moz-transition: fill-opacity 500ms ease;
    -ms-transition: fill-opacity 500ms ease;
    -o-transition: fill-opacity 500ms ease;
	transition: fill-opacity 500ms ease;

}
g.cost.dimmed circle {
	fill-opacity:0.2;
}
g.cost.hidden circle,
g.cost.hidden rect {
	fill-opacity:0;
}
g.cost:hover circle {
	stroke:#fff !important;
	stroke-width:2;
	fill-opacity:1 !important;

	-webkit-transition: fill-opacity 10ms ease;
	-moz-transition: fill-opacity 10ms ease;
    -ms-transition: fill-opacity 10ms ease;
    -o-transition: fill-opacity 10ms ease;
	transition: fill-opacity 10ms ease;
}
g.cost line.gauge {
	display: none;
	stroke-dasharray: 1, 3;
	stroke:#999;
}
g.cost text.gauge,
g.cost text.tgauge {
	display: none;
	fill:#999;
	font-size: 13px;
}
g.cost text.tgauge {
	fill:#ccc;
}
g.cost text.gauge.description,
g.cost text.tgauge.description {
	text-anchor:end;
	text-transform: uppercase;
}
g.cost:hover line.gauge,
g.cost:hover text.gauge,
g.cost.hover text.gauge,
g.cost:hover text.tgauge,
g.cost.hover text.tgauge {
	display: block
}
g.cost:hover line {
	display: block
}
g.costs line {
	fill:none;
	stroke:#aaa;
	stroke-width:1;
	shape-rendering: crispEdges;
}
g.cost rect.joint {
	fill:#fff !important;
}

g#xaxis path {
	fill:none;
	stroke:#999;
	stroke-width:1;
	shape-rendering: crispEdges;
}

g#xaxis .tick line {
	fill:none;
	stroke:#999;
	stroke-width:1;
	shape-rendering: crispEdges;
}
g#xaxis .tick.minor line {
	stroke:#444;
}
g#xaxis text {
	fill:#999;
	font-size:13px;
	text-transform: uppercase;
}
g#xaxis text.note {
	fill:#666;
	font-size:12px;
	text-transform: uppercase;
}

g#yaxis path {
	fill:none;
	stroke:none;
}

g#yaxis .tick line {
	fill:none;
	stroke:none;
}

g#yaxis text {
	text-transform: uppercase;
	fill:#ccc;
	font-size: 16px;
	text-anchor:start;
	font-weight: 300;
}
g#yaxis text.period {
	font-size:14px;
	color:#ddd;
	text-transform: none;
}
g#yaxis g.title {
	cursor: pointer;
}
g#yaxis g.title:hover text {
	fill:#fff;
}
g#yaxis g.title:hover .symbol circle,
g#yaxis g.title:hover .symbol line {
	stroke:#fff !important;
}
g#yaxis g.title .minus {
	display:none;
}
g#yaxis g.title.selected .minus {
	display:block;
}
g#yaxis g.title.selected .plus {
	display:none;
}
g#yaxis g.title rect {
	fill-opacity:0;
}
g#grid line {
	fill:none;
	stroke:#666;
	stroke-width:1;
	shape-rendering: crispEdges;
	stroke-dasharray: 1, 5;
}
g#types .type {
	cursor: pointer;
}
g#types .type text {
	text-transform: uppercase;
	fill:#ccc;
	font-size: 16px;
	text-anchor:start;
	font-weight: 300;
}

g#types .type rect {
	fill:#815d43;
	stroke:none;
	stroke-width:0;
}

g#types g.type.dimmed rect,
g#types g.type.dimmed text {
	fill-opacity:0.2;
}

g#types g.type:hover rect,
g#types g.type:hover text {
	fill-opacity:1;
}
g#types g.type:hover text {
	fill:#fff;
}
g#connections path {
	fill:none !important;
	stroke:#815d43;
	stroke-width:2;
}
g#connections path.dimmed {
	stroke-opacity:0.2;
}
.slave rect,
.slave circle,
path.slave {
	stroke:#CC1559 !important;
	fill:#CC1559 !important;
}
.war rect,
.war circle,
path.war {
	stroke:#3399FF !important;
	fill:#3399FF !important;
}
.labour rect,
.labour circle,
path.labour {
	stroke:#8fd4d9 !important;
	fill:#8fd4d9 !important;
}
.trafficking rect,
.trafficking circle,
path.trafficking {
	stroke:#FFCB35 !important;
	fill:#FFCB35 !important;
}
.law rect,
.law circle,
path.law {
	stroke:#b0f402 !important;
	fill:#b0f402 !important;
}
g.detailed-costs {
	opacity: 0;
	display: none;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
    -ms-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;	
}
g.detailed-costs.selected {
	display: block;
	opacity: 1;
}
g.detailed-cost {
	cursor: pointer;
}
g.detailed-cost.dimmed rect,
g.detailed-cost.dimmed circle {
	fill-opacity:0.2;
}
g.detailed-cost line {
	fill:none;
	stroke:#fff;
	stroke-width:1;
	shape-rendering: crispEdges;	
}
g.detailed-cost circle {
	stroke-width:0;
}
g.detailed-cost rect {
	fill-opacity:0.7;
	stroke-width:0;
}
g.detailed-cost:hover rect {
	fill-opacity:1;
}
g.detailed-cost rect.bg {
	fill:#444 !important;
	fill-opacity:0;
}
g.detailed-cost:hover rect.bg {
	fill-opacity:0.2;
}
g.detailed-cost line.l2t,
g.detailed-cost line.l2b {
	display: none;
}
g.detailed-cost line.l2t {
	stroke-dasharray: 1, 3;
	stroke:#999;
}

g.detailed-cost line.l2b {
	stroke-dasharray: 1, 3;
	stroke:#999;
}
g.detailed-cost:hover line.l2t,
g.detailed-cost:hover line.l2b {
	display: block;
}

g#legend {

}
g#legend line {
	fill: none;
	stroke: #aaa;
	stroke-width: 1;
}
g#legend text {
	fill: #999;
	font-size: 11px;
	text-transform: uppercase;
	text-anchor:middle;
}
g#legend circle {
	fill: #999;
}

#dialog {
	position: absolute;
	display: none;
	width:300px;
	left:400px;
	bottom:300px;
	padding:10px;
	background: rgba(255,255,255,0.8);
	text-align: center;
	color:#000;
	height:85px;
	overflow: hidden;

	-webkit-transition: left 200ms ease, height 500ms ease;
	-moz-transition: left 200ms ease, height 500ms ease;
    -ms-transition: left 200ms ease, height 500ms ease;
    -o-transition: left 200ms ease, height 500ms ease;
	transition: left 200ms ease, height 500ms ease;

	cursor:pointer;
}
#dialog.expanded {
	height:auto;
	cursor:auto;
}
#dialog h3,
#dialog h4,
#dialog h5 {
	
	font-size: 16px;
	font-weight:normal;
	margin:0;
	padding:0;
	text-align: center;
	text-transform: uppercase;
}
#dialog h3 {
	font-size:26px;
	text-transform: uppercase;
}
#dialog h4 {
	margin-top:5px;
}
#dialog h5 {
	font-size: 12px;
}
#dialog span.currency {
	
	text-transform: uppercase;
	font-size: 12px;
}
#dialog p {
	font-size: 13px;
	
	margin: 5px 0;
}
#contents {
	width:800px;
	margin:50px auto 20px;
}
#contents a {
	text-decoration: none;
	color:#8fd4d9;
}
.paragraph {
	margin-bottom:30px;
}
.paragraph h5 {
	font-family: 'Raleway', serif;
	font-size: 20px;
	font-weight:300;
	text-transform: uppercase;
	margin:0 0 5px;
	color:#8fd4d9;
}
.paragraph p {
	margin: 0;
	color:#ddd;
	font-size:15px;
}
#source {
	margin:10px 0;
}

#footer {
	font-size:13px;
	margin:10px 0;
	text-align: center;
	text-transform: uppercase;
}

#footer #licence {
	font-size: 11px;
	width:280px;
	margin: 0 auto;
	border-top:1px solid #444;
	text-align: center;
	margin-top: 20px;
	padding-top: 10px;
}
#footer #licence div{
	text-align: left;
}
#footer #licence a {
	color:#aaa;
	text-decoration: none;
}
.no-touch #footer #licence a:hover {
	color:gold;
}
#footer #licence a.cc {
	float:left;
	margin-right: 10px;
}
#footer .social {
	text-align: center;
	font-size: 23px;
	position: relative;
	width: 90px;
	height: 23px;
	margin: 10px auto;
}
#footer .social a {
	text-decoration: none;
	font-size: 13px;
	color: #000;
	background-color: #999;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: block;
	float: left;
	margin: 0 3px;
}
.no-touch #footer .social a:hover {
	background-color:gold;
}
#footer .social a span {
	display: block;
	font-size: 10px;
	font-weight: normal;
}